main{
  background-image: url('img.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: red;
}

main h1{
  font-family: 'Roboto Mono', monospace;
}

article{
  background-color: violet;

}

article p{
  color: green;
  text-align: center;
}
